html, body {
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .coming-soon {
    background: #333;
    padding: 20px;
    text-align: center;
  }

  .coming-soon h1 {
    font-size: 5rem;  
    margin-bottom: 20px;
    animation: typing 2s steps(30);
    color: white;
  }

  @keyframes typing {
    from {width: 0;}
    to {width: 100%;} 
  }

  .details {
    margin-bottom: 30px;
    animation: typing 2s steps(30);
    color: white;
  }

  img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  @media (max-width: 600px) {

    .coming-soon h1 {
      font-size: 3rem;  
    }

    img {
      width: 150px;
    }

  }
